<!-- ======= Post Section ======= -->

    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Latest Posts</h2>
        </div>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
              {{#each posts}}

            <div class="row schedule-item">
              <div class="col-md-2">{{format_date created_at}}</div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/cover.jpeg" alt="Brenden Legros">
                </div>
                <h4>Post by <span>{{user.username}}</span></h4>
                <a href="/post/{{id}}">{{title}}</a>
                <p>{{body}}</p>
              </div>
            </div>
            {{/each}}

          </div>
          </section>
          <!-- End Schdule Day 1 -->